<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-danger pull-right" href="/">Retour</a>
            <h1>Ajouter une personne</h1>
            <form class="form-horizontal" method="post" action="/add">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">Firstname</label>  
  <div class="col-md-4">
  <input id="firstname" name="user[firstname]" type="text" placeholder="Firstname" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Lastname</label>  
  <div class="col-md-4">
  <input id="lastname" name="user[lastname]" type="text" placeholder="Lastname" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="gender-0">
      <input type="radio" name="user[gender]" id="gender-0" value="Male" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="gender-1">
      <input type="radio" name="user[gender]" id="gender-1" value="Female">
      Female
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="age">Age</label>  
  <div class="col-md-4">
  <input id="age" name="user[age]" type="text" placeholder="Age" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="user[email]" type="text" placeholder="Email" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="company">Company</label>  
  <div class="col-md-4">
  <input id="company" name="user[company]" type="text" placeholder="Company" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="departement">Departement</label>  
  <div class="col-md-4">
  <input id="departement" name="user[departement]" type="text" placeholder="Departement" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City</label>  
  <div class="col-md-4">
  <input id="city" name="user[city]" type="text" placeholder="City" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="country">Country</label>  
  <div class="col-md-4">
  <input id="country" name="user[country]" type="text" placeholder="Country" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ip_adresse">Adresse IP</label>  
  <div class="col-md-4">
  <input id="ip_adresse" name="user[ip_adresse]" type="text" placeholder="Adresse IP" class="form-control input-md">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnValider">Valider ou annuler</label>
  <div class="col-md-8">
    <button id="btnValider" name="btnValider" class="btn btn-success">Valider</button>
    <button id="btnAnnuler" name="btnAnnuler" class="btn btn-danger">Annuler</button>
  </div>
</div>

</fieldset>
</form>
        </div>
    </body>
</html>
